body {
    text-align: left;
    text-indent: 0px;
    margin: 0;
    $body.margin
}

p { $def.all } 

style { display: inline; }

empty-line { height: 1em }

hr { height: 1px; background-color: #808080; margin-top: 0.5em; margin-bottom: 0.5em; /* 2px */ }

a { display: inline; $link.all }
a[type="note"] { $footnote-link.all }
a[type="note"]::before { content: "\2060" } /* word joiner, avoid break before */

image { text-align: center; text-indent: 0px; display: block }
p image { display: inline }
li image { display: inline }

li { display: list-item; text-indent: 0em;  }
ul { display: block; list-style-type: disc; margin-left: 1em }
ol { display: block; list-style-type: decimal; margin-left: 1em }

v { text-align: left; text-align-last: -cr-right-if-not-first; text-indent: 1em hanging; hyphenate: none }

stanza { $poem.all }
stanza + stanza { margin-top: 1em; }
poem { margin-top: 1em; margin-bottom: 1em; text-indent: 0px }
text-author { $text-author.all }

epigraph, epigraph p { $epigraph.all }
cite, cite p { $cite.all }

title p, h1 p, h2 p { 
    $title.all
}

subtitle, subtitle p, h3 p, h4 p, h5 p, h6 p { 
    $subtitle.all
}

cite { display: block; }

title, h1, h2, h3, h4, h5, h6, subtitle { 
	hyphenate: none; 
}

h1, h2, h3, h4, h5, h6 {    
	display: block; 
   	margin-top: 0.5em; 
   	margin-bottom: 0.3em; 
     	padding: 10px ; 
     	margin-top: 0.5em; 
     	margin-bottom: 0.5em; 
}
title, h1, h2 { 
	page-break-before: always; 
	page-break-inside: avoid; 
	page-break-after: avoid; 
}
subtitle, h3, h4, h5, h6 { 
	page-break-inside: avoid; 
	page-break-after: avoid; 
}
h1 { font-size: 150% }
h2 { font-size: 140% }
h3 { font-size: 130% }
h4 { font-size: 120% }
h5 { font-size: 110% }

table { font-size: 80%; width: 100%; }
td, th { text-indent: 0px; padding: 3px; }
/* table borders */
table, th, td { border-width: 2px; border-style: ridge; border-color: #888; border-collapse: collapse; }
th {  font-weight: bold; text-align: center; background-color: #ddd; }
/* #808080; */
table caption { text-indent: 0px; padding: 4px; }

tt, samp, kbd, code, pre { font-family: "Noto Mono", "FreeMono", "Courier New", "Andale Mono", "Droid Sans Mono", "Menlo", "Liberation Mono", "DeJaVu Sans Mono", monospace; }
code, pre { 
    display: block; 
    white-space: pre; 
    $pre.all
}
kbd, samp, tt { $pre.font-face; }

body[name="notes"] { $footnote.all; }
body[name="notes"] section title { display: run-in; text-align: left; $footnote-title.all page-break-before: auto; page-break-inside: auto; page-break-after: auto; font-variant: tabular-nums; }
body[name="notes"] section title p { display: inline; }
body[name="notes"] section { -cr-hint: footnote-inpage; }

body[name="comments"] { $footnote.all; font-style: italic; }
body[name="comments"] section title { display: run-in; text-align: left; $footnote-title.all page-break-before: auto; page-break-inside: auto; page-break-after: auto; font-variant: tabular-nums; }
body[name="comments"] section title p { display: inline; }
body[name="comments"] section { -cr-hint: footnote-inpage; }


description { display: block; }
title-info { display: block; }
annotation { $annotation.all }
date { font-style: italic; margin-left: 5% }
description date { font-size: 80%; text-align: center }
genre { display: none; }
author { display: none; }
book-title { display: none; }
keywords { display: none; }
lang { display: none; }
src-lang { display: none; }
translator { display: none; }
document-info { display: none; }
publish-info { display: none; }
custom-info { display: none; }
coverpage { display: none }

head, form, script { display: none; } 

b,strong,i,em,dfn,var,q,u,del,s,strike,small,big,sub,sup,acronym,tt,samp,kbd {
   display: inline; 
} 

sub { vertical-align: sub; font-size: 70% }
sup { vertical-align: super; font-size: 70% }

strong, b { font-weight: bold }
emphasis, i, em, dfn, var { font-style: italic }
u { text-decoration: underline; } 
del, s, strike, strikethrough { text-decoration: line-through; } 

small { font-size: 80%; } 
big { font-size: 130%; } 

nobr { display: inline; hyphenate: none; white-space: nowrap; } 

dl { margin-left: 0em; } 
dt { display: block; margin-left: 0em; margin-top:0.3em; font-weight: bold; } 
dd { display: block; margin-left: 1.3em; } 

img { 
   margin: 0.5em; 
   text-align: center; 
   text-indent: 0em; 
   border-style: solid; 
   border-width: medium; 
}
